{% extends "base.html" %}

{% block title %}
    TodoTimer: Register
{% endblock %}

{% block content %}
    <form method="POST">
        <h2 class="feature-title">Sign Up</h2>
        <br>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" autofocus>
        </div>
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter first name">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>
        <div class="form-group">
            <label for="password_confirmation">Confirm Password</label>
            <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Enter password (again)">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Register</button>
        <br><br><br>
        <p><span style="color:grey; opacity:50%">Already have an account?</span> <a href="/login" id="reg-link">Log In</a></p>
    </form>
{% endblock %}
